@page "/productosvendidos/{id:int}/editar"
@inject ProductosVendidosService Service

<h3>Edit Producto Vendido</h3>

@if (ProductoVendido.Id == null)
{
    <p>No existe el producto vendido</p>
}
else
{
    <ProductoVendidoFrom ProductoVendido="ProductoVendido" />
}

@code {

    [Parameter]
    public int Id { get; set; }

    private ProductoVendido? ProductoVendido;

    protected override void OnInitialized()
    {

        ProductoVendido = Service.GetOneProductoVendido(Id);
    }

}